#### 1- Kütüphanelerin Yüklenmesi

In [1]:
import numpy as np ## numpy kütüphanesinin import edilmesi
import pandas as pd ## pandas kütüphanesinin import edilmesi
import seaborn as sns ## seaborn kütüphanesinin import edilmesi
import matplotlib.pyplot as plt ## matplotlip kütüphanesinin import edilmesi
import datetime as dt ## datetime kütüphanesinin import edilmesi
pd.pandas.set_option('display.max_columns', None) ## dataframein tüm sutunlarının görülmesi için gereken kod

### 2- Verisetinin Yüklenmesi

### 3- Verisetinin Orjinalınde değişiklik gelmemesei için veriyi başka bir değişkene atayın

### 4-Verisetinin Boyutlarına bulunuz

### 5-Verisetinin Sutunlarının İsimlerini Yazdırın

### 6- Veri setinin bilgilerine ulaşılması

### 7- Veri Setinde Boş Değer Varmı sorgulanması

### 8- Verisetindeki Sutunlarda Toplam Kaç Adet Değer Var Bulunuz

### 9- Verisetinde Toplam Kaç Adet Değer Var Bulunuz

### 10- Verisetinde Boş Değer Olan Sutunların İsimlerini yazdıralım

### 11-Verisetinin Sutunlarında Kaç farklı Tip var Onu Bulalım

### 12- Verisetinin Sutunlarındaki Eşsiz Tipler Nelerdir Onlara Bakalım

### 13-Verisetinin İlk 5 Satırını Yazdıralım

### 14-Verisetinin son 7 Satırını Yazdıralım

### 15- Verisetinde her satır için AMOUNT PRICE LINENETTOTAL sutunlarına ait bilgileri yazdıralım

### 16- Verisetinde LINENETTOTAL sutunda 15 den büyük olan satırları yazdıralım

### 17- Verisetinde BRANCH ı Balıkesir Subesi olan satırları bulalım

### 18- Verisetinde Balıkesir Subesinde LINENETTOTAL i 2 den düsük olan satırları bulalım

### 19- Verisetindeki Sutunlardan ITEMNAME => URUN_ADI , ITEMCODE=> URUN_ID,BRANCH=>SUBE_ADI olarak değiştirin

### 20- Verisetimizin 100-103 arasındaki satırlarının ID den LINENETTOTAL a kadar olan sutunlardaki değerlerini yazdırınız.

### 21- Verisetindeki CATEGORY_NAME3 sutununu verisetinden silelim

### 22- Verisetinde URUN_ID sutunun en büyük değerini bulun ve ona göre boş değerlere bir değer atayın

### 23- Verisetinde Bulunan URUN_ADI kısmındaki değerlere "BİLİNMEYEN ÜRÜN" atayın

### 24- Verisetinde Bulunan CLIENTCODE sutunun boş değerlerine "#unk999"atayın

### 25- Verisetinde Bulunan CLIENTNAME sutunun boş değerlerine "BILINMEYEN MUSTERI" atayın

### 26- Verisetinde CATEGORY_NAME1 i dolu oup CATEGORY_NAME2 boş olan satırlar var bu satırlarda CATEGORY_NAME2 kısmına CATEGORY_NAME1 deki değeri atayalım

### 27- Verisetinde Alışveriş Yapan Kişilerin Cinsiyet Sutunundaki NaN değerleri U ile Değiştirin

### 28-Verisetinde BRANDCODE ve BRAND sutunlarında sutunlarında boş değerlere #UN999 ve UNNBRD değerlerini atayalım

### 29-Verisetinde CATEGORY_NAME1  ve CATEGORY_NAME2 sutunlarında sutunlarında boş değerlere UNKCATG değerlerini atayalım

### 30- Verisetinde Kalan Boş Değerleri Silelim

### 31- Mağazamızda Çalısan Eleman Sayısını Bulunuz

1331

### 32-Şirketimizin Hangi Bölgelerde Kaç Subesi Var Onu Yazdıralım

                   SUBE_ADI
REGION
Akdeniz                   8
Doğu Anadolu             14
Ege                       9
Güneydoğu Anadolu         9
Karadeniz                18
Marmara                  10
İç Anadolu               13

### 33-En Çok Ücret Alan Fiş No ve o fişin toplam tutarını yazdırın.

### 34-  Şirketimizin Hangi Bölgede Ne Kadar Müşterisi Var onu yazdıralım

### 35- En Çok ürün Alan Fiş No

### 36-En Çok Ciro Yapan Şube ve o şubenin müşteri sayısını bulun

### 37-Müşterilerin Kasada En Çok Vakit Geçirdikleri Şube

### 38-Haftanın Günleri Baz Alınarak Ortalama cironun en yüksek olduğu gün hangisi

### 39-Ayın Hangi Günlerinde En Yüksek Çiro Yapılmıs?

### 40- Günün Hangi Saatlerinde Yoğunluk daha Fazla Olmakta

### 41-Kategori İsimlerini Yazdırın. İçlerinden Bir Tanesine ait alt urunleri bulup bu kategori arasında urunlerin satış yüzdelerini hesaplayın

array(['İÇECEK', 'GIDA', 'SÜT KAHVALTILIK', 'MEYVE SEBZE', 'UNKCATG',
       'SİGARA', 'KOZMETİK', 'ET TAVUK', 'EV', 'KAĞIT', 'BEBEK',
       'DETERJAN TEMİZLİK', 'PET'], dtype=object)

array(['SAKIZ SEKERLEME', 'CORBA BULYON', 'MAKARNA', 'UNLU MAMÜLLER',
       'SIVI YAĞLAR', 'TOZ TATLI', 'ÇİKOLATA GOFRET', 'DONDURULMUŞ GIDA',
       'HAZIR YEMEKLER', 'BÜSKİVİ ÇEREZ', 'BAKLİYAT', 'TUZ BAHARAT',
       'BAYRAMLIK', 'ÇİKOLATA'], dtype=object)

In [92]:
gida_alt_kategori = df[df["CATEGORY_NAME1"] == "GIDA"].groupby("CATEGORY_NAME2").agg({"AMOUNT":"sum"})
gida_alt_kategori.head(3)

                   AMOUNT
CATEGORY_NAME2
BAKLİYAT        30577.813
BAYRAMLIK         249.000
BÜSKİVİ ÇEREZ   93526.029

In [94]:
gida_alt_kategori["PERCENTAGE"] = gida_alt_kategori["AMOUNT"] \
.apply(lambda x: 100*(x/(gida_alt_kategori["AMOUNT"].sum())))

In [95]:
gida_alt_kategori["PERCENTAGE"].head()

CATEGORY_NAME2
BAKLİYAT            10.248462
BAYRAMLIK            0.083455
BÜSKİVİ ÇEREZ       31.346192
CORBA BULYON         2.570343
DONDURULMUŞ GIDA     0.673001
Name: PERCENTAGE, dtype: float64